modules = ["nodejs-20", "bash"]
[agent]
expertMode = true

[nix]
channel = "stable-25_05"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[workflows.workflow.metadata]
outputType = "webview"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "EXPO_PUBLIC_SUPABASE_URL=https://xiscqqoduqwptzxoktjn.supabase.co EXPO_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inhpc2NxcW9kdXF3cHR6eG9rdGpuIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzM5ODEzNDQsImV4cCI6MjA4OTU1NzM0NH0.inXoJtl14PpyFJ27L1BoSx8fELN1-MnBh1Zqxdtr804 EXPO_PUBLIC_CLERK_PUBLISHABLE_KEY=pk_test_Z3Jvd24tYW50LTM0LmNsZXJrLmFjY291bnRzLmRldiQ EXPO_PUBLIC_PORT=5000 npx expo start --web --port 5000 --no-dev --clear"
waitForPort = 5000

[[ports]]
localPort = 5000
externalPort = 80

[deployment]
deploymentTarget = "autoscale"
run = ["npx", "expo", "start", "--web", "--port", "5000", "--no-dev"]

[userenv]

[userenv.shared]
EXPO_PUBLIC_SUPABASE_URL = "https://xiscqqoduqwptzxoktjn.supabase.co"
EXPO_PUBLIC_SUPABASE_ANON_KEY = "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inhpc2NxcW9kdXF3cHR6eG9rdGpuIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzM5ODEzNDQsImV4cCI6MjA4OTU1NzM0NH0.inXoJtl14PpyFJ27L1BoSx8fELN1-MnBh1Zqxdtr804"
EXPO_PUBLIC_CLERK_PUBLISHABLE_KEY = "pk_test_Z3Jvd24tYW50LTM0LmNsZXJrLmFjY291bnRzLmRldiQ"
